/* A set of default styles */
:root {
  /* Generic sizing for the page */
  --wrapper-height: 100vh;

  /* Fonts for different elements */
  --font-family: roboto;
  --font-family-list: monospace;

  /* Colors you'll see cascade through the elements */
  --color-bg: #000000; /* Used for the page body background */
  --color-bg-alt: #434343; /* Used for social icons on hover */
  --color-text-main: #ffffff; /* List text ann social icons on hover */
  --color-primary: #ffffff; /* Headers and borders */
  --color-highlight: #d0d0d0; /* Highlights */
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}
/* button styling */
button {

  background-color: rgb(0, 0, 0);
  color: #ffffff;
  padding: 10px 40px;
  position: relative;
  border: none;
  border-radius: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.33);
  border: 2.3px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
 inset 0 1.2px 20px rgba(255, 255, 255, 0.3);
  transition: all 0.4s ease;
  
}
/* i tried to make liquid glass :( */
button:hover{
  border-radius: 2rem;
  backdrop-filter: blur(1px);
  opacity: 0.6;
  box-shadow: inset -10px -8px 19px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  

}

/* Page structure */
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  text-align: left;
  margin: 4;
  font-size:2.8rem;
}
/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0;
  padding:1rem 2rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.illustration {
  max-width:30%;
  margin:1rem 0 2rem 0;
  animation: 1s ease-out 1s 1 bounce;
}
@keyframes spinIn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  @keyframes bounce {
  0% {
    transform: translate(0 px, 0 px);
  }
    100% {
    transform: translate(60 px, 0 px);
    }
}
.illustration-404 {
  max-width:30%;
  margin:1rem 0 2rem 0;
  animation: 1s ease-out 0s 1 spinUp;
  filter: grayscale(100%);
  animation-fill-mode: forwards;
} 
@keyframes spinUp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/* Typography */
p {
  margin: 1rem;
  line-height: 1.3em;
}
p,
h1,
h2,
h3,
h4,
h5 {
  color: var(--color-text-main);
}
h1 {
  display: inline-flex;
  color: var(--color-primary);
  justify-content: center;
}
/* Link styles */
a:link,
a:visited {
  text-decoration: none;
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
  transition: background 0.2s linear;
  font-weight: bold;
}
a:hover,
a:active,
a:focus {
  background: var(--color-primary);
  color:var(--color-highlight);
}
/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 0;
  padding: 1.5rem 0 0.5rem 0;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}
a.github {
  background: var(--color-bg-alt);
  color:var(--color-highlight);
  border: 2px solid var(--color-highlight);
  border-radius: 5px;
  padding:0.5rem;
  font-weight:bold;
}
a.github:hover {
  background: var(--color-primary);
  color:var(--color-highlight);
  font-weight: lighter;
}

.timer-normal {
  color: #ffffff;
}
.timer-warning {
  color: #FFA500;
}

.timer-danger {
  color: #FF0000;
}
